In [6]:
# Load libraries
import pandas as pd
import numpy as np

In [7]:
# Create date range
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

C:\Users\dell\AppData\Local\Temp\ipykernel_27712\2519601725.py:2: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

In [8]:
# Create DataFrame
dataframe = pd.DataFrame(index=time_index)

In [9]:
# Create column of random values
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [10]:
# Group rows by week, calculate sum per week
dataframe.resample('W').sum()

            Sale_Amount
2017-06-11        86006
2017-06-18       100702
2017-06-25       100764
2017-07-02       100778
2017-07-09       101034
2017-07-16        10405

In [11]:
# Show three rows
dataframe.head(3)

                     Sale_Amount
2017-06-06 00:00:00            4
2017-06-06 00:00:30            4
2017-06-06 00:01:00            9

In [4]:
# Group rows by the values of the column 'Sex', calculate mean
# of each group
dataframe.groupby('Sex').mean()

TypeError: agg function failed [how->mean,dtype->object]